:root {
    --blue: #2D6FA4;
}

.billboardFrame {
    background: linear-gradient(to bottom, #2D6FA4, #112A3E);
}

.panel-option {
    max-width: 400px;
    transition: .5s ease-in-out scale;
}

.panel-option i {
    font-size: 6rem;
}

.panel-option:hover {
    scale: 1.03;
}

.container-img img {
    width: 10rem;
    height: auto;
    
}

.blue-btn {
    background-color: var(--blue);
    color: white;
}

.blue-btn:hover {
    background-color: #004781;
    color: rgb(164, 164, 164);
}