.container-fluid {
    margin-bottom: 2%;
    margin-top: 3px;
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.billboardFrame {
    background: linear-gradient(to bottom, #2D6FA4, #112A3E);
    border-radius: 15px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 70vh;
}

.filmFrame {

    margin: 7%;

}

.sideMenu {
    overflow: scroll;
    height: 70vh;
    padding: 0;
}

.sideMenu::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .billboardFrame {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        height: 100vh;
        display: block;
    }

    .sideMenu {
        overflow: scroll;
        padding: 0;
    }

    .row{
        width: 100%;
    }

}

@media (min-width: 768px) {
    #sidebar {
        display: block;
    }
}